@model IEnumerable<WebTasks.Models.ViewModels.DailyTaskVm>

@{
    ViewBag.Title = "Daily Tasks";
}

<h2>@ViewBag.Header</h2>

@using (Ajax.BeginForm("Index", "DailyTasks", new { page = 1, filter = "" }, new AjaxOptions
{   //GetPatients is name of method in PatientController
    InsertionMode = InsertionMode.Replace, //target element(#patientList) will be replaced
    UpdateTargetId = "tb-dailyTasks",
    LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
}, new { id = "frmDailyTasks"}))
{
    string filter = "";
    <div class="form-group">
        @Html.Label("Search for a task", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(x => filter, new { htmlAttributes = new { @class = "form-control", placeholder = "Type here" } })
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Search" />
    </div>
}

<div id="loader" class=" aletr" style="display:none">
    Loading...<img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" width="50" height="50" />
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-striped" id="dailyTasks">
    <tr>
        <th>
            Title
        </th>
        <th>
            Note
        </th>
        <th>
            Number of comments
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentsCount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
