@model WebTasks.Areas.Admin.Models.ViewModels.PersonDetailedAdminVm

@{
    ViewBag.Title = "Details";
}

<h2>Profile of @Model.UserName</h2>

<div>
    <h4>Profile info</h4>
    <hr />
    @if (!Model.IsAdmin)
    {
        using (Ajax.BeginForm("MakeAdmin", "People", new { username = Model.UserName }, new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "makeAdminSuccess()",
            OnFailure = "makeAdminFail()",
        }, new { id = "frmMakeAdmin" }))
        {
            <input type="submit" class="btn btn-default" value="Make Admin" name="MakeAdmin" id="MakeAdmin" />
        }
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Phone Number
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            Access Failed (Times)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>
        <dt>
            Comments Posted
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommentsCount)
        </dd>
    </dl>
</div>

<p>
        @Html.ActionLink("Back to List", "Index")
</p>

<script>
    function makeAdminSuccess() {
        noty({
            text: "User promoted to admin",
            type: 'success',
            layout: 'topCenter',
            timeout: 1000
        });
    }

    function makeAdminFail() {
        noty({
            text: "Can not promote user to admin.",
            type: 'error',
            layout: 'topCenter',
            timeout: 1000
        });
    }
</script>

<h3>Daily Tasks</h3>

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Note
        </th>
        <th>
            Number of comments
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.DailyTasks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentsCount)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "DailyTasks", new { id = item.Id }, new { })
            </td>
        </tr>
    }
</table>

<h3>Projects</h3>

<table class="table">
    <tr>
        <th>
            Release Date
        </th>
        <th>
            Plan
        </th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Projects)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Projects", new { id = item.Id }, new { })
            </td>
        </tr>
    }
</table>
@if (Model.CommentsCount > 0 || Model.DailyTasksCount > 0 || Model.ProjectsCount > 0)
{
    @Html.ActionLink("Back to List", "Index")
}