@model IEnumerable<WebTasks.Areas.Admin.Models.ViewModels.DailyTaskAdminVm>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Ajax.BeginForm("Filter", "DailyTasks", new { page = 1 }, new AjaxOptions
{   //GetPatients is name of method in PatientController
    InsertionMode = InsertionMode.Replace, //target element(#patientList) will be replaced
    UpdateTargetId = "to-update",
    LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
}, new { id = "frmDailyTasks" }))
{
    <div class="form-group">
        @Html.Label("Search for a task", htmlAttributes: new { @class = "control-label" })
        <input name="filter" class="form-control" placeholder="Type here" />
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Search" />
    </div>
}

@Html.Partial("Loader")

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@* Table for daily tasks with pagination *@

@Scripts.Render("~/bundles/dailyTasksPagination")
<div id="to-update">
    @Html.Partial("DailyTasksPartial", Model)
</div>
<div class="btn-group">
    <input type="button" class="btn btn-lg btn-default" value="< Previous Page" onclick="previousPage()" />
    <input type="button" class="btn btn-lg btn-default" value="Next Page >" onclick="nextPage()" />
</div>
