@model WebTasks.Areas.User.Models.ViewModels.ProjectDetailedUserVm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentsCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentsCount)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
    @if (Model.IsOwner == true)
    {
        <span> | </span>@Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
</p>

<h3>Comments</h3>
<hr />
<div id="comments-panel" class="panel panel-default">
    <div class="panel-heading">
        <span>Write a comment</span>
    </div>
    <div class="panel-body">
        <textarea id="txtarea-comment" style="width: 100%; min-width: 100%; max-width=100%; margin-bottom: 5px;"></textarea>
        <div class="btn-group">
            <button class="btn btn-default" onclick="postComment(@Model.Id, 1)">Post</button>
            <button class="btn btn-default" onclick="clearTxtArea()">Clear</button>
        </div>
    </div>
</div>
@*@{
    Html.RenderPartial("_PostCommentPartial", new WebTasks.Models.BindingModels.CommentPostBm() { ForTask = Model.Id, TaskType = 1 });
}*@

@foreach (var item in Model.Comments)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>@item.Author</span>
            <span class="pull-right">@item.PublishDate.ToLongDateString()</span>
        </div>
        <div class="panel-body">
            <p>@item.Content</p>
        </div>
    </div>
}
@if (Model.CommentsCount > 0)
{
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
}

@section scripts {
    @Scripts.Render("~/bundles/comments")
}